{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello {{ logged_in_employee.name }}!<br />
    Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
    <br />
    <br />
    <h3>{{ today }}</h3>
    Customers in my Zipcode    

    {% for customer in customer_matching_zip_code %}
     <h3> {{customer.name}} </h3>

    {% endfor %} 


    Scheduled Weekly  Pickups: 
    {% for customer in customer_weekly_pickup %}
     <h3> {{customer.name}} </h3>

    {% endfor %}  
    
    
    <br />
    <br />
    
    One-time Pickup:
    <br />
    {% for customer in customer_one_time_pickup %}
     <h3> {{customer.name}} </h3>

    {% endfor %} 

    <br />
    Active Accounts:
    <br />
    <br />
  

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}

