{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello {{ logged_in_employee.name }}!<br />
    Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
    <br />
    <br />
    <h3>{{ today }}</h3>
    Scheduled Weekly  Pickups: 

    {% for customer in all_customers %}
    <h3>{{ customer.name }}</h3> <br>

    {% endfor %}
    
    {{ logged_in_employee_zip_code }}
    <br />
    <br />
    One-time Pickup:
    <br />
    <br />
    Active Accounts:
    <br />
    <br />
  

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}

